.form-center{
    display: flex;
}
.form-group {
    padding: 1rem 0.75rem;
    flex : 1; /*화면 비율에 따라 늘어나거나 줄어듬*/
}

label {
    display: block;
    color: var(--primaryColor);
    font-weight: bold;
    font-size: 1.2rem;
}

.form-control{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--secondColor);
    outline: none;
    height: 3rem;
    width: 100%;
    
}